<!-- <div class="mat-elevation-z8"> -->
<table mat-table class="full-width-table" matSort aria-label="Elements">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="titulo-tabela">Nome</th>
    <td mat-cell *matCellDef="let row" class="nome-tabela">{{row.name}}</td>
  </ng-container>

  <!-- image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td class="table-avatar" mat-cell *matCellDef="let row">
      <img [src]="row.image" alt="" />

    </td>
  </ng-container>

  <!-- Cargo Column -->
  <ng-container matColumnDef="cargo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="titulo-tabela">Cargo</th>
    <td mat-cell *matCellDef="let row">{{row.cargo}}</td>
  </ng-container>

  <!-- Lotacao Column -->
  <ng-container matColumnDef="lotacao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="titulo-tabela">Lotação</th>
    <td mat-cell *matCellDef="let row">{{row.lotacao}}</td>
  </ng-container>

  <!-- Lotacao Column
  <ng-container matColumnDef="scoreGeral">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>scoreGeral</th>
    <td mat-cell *matCellDef="let row">{{row.scoreGeral}}</td>
  </ng-container> -->


  <!-- Score Geral Column -->
  <ng-container matColumnDef="scoreGeralEmp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="titulo-tabela ">Score Geral</th>
    <td mat-cell *matCellDef="let row" class="score-tabela">{{row.scoreGeralEmp}}</td>
  </ng-container>



  <!-- Score Geral Column -->
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let row">
      



      <button mat-icon-button [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu">
        <mat-icon  color="accent">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Configurar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>favorite</mat-icon>
          <span>Favoritar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Adicionar</span>
        </button>
      </mat-menu>

    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">

  </tr>

</table> 


<!-- <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator> -->

<!-- </div> -->