<project-cards></project-cards>

<div class="grid two-column">
  <div class="card-container dois">
    <header>
      <h3><b>Órgãos</b></h3>

      <div class="flex">
        <h4>Todos</h4>
        <mat-icon color="black">expand_more</mat-icon>
        <mat-icon color="accent">search</mat-icon>
        <h4>Buscar</h4>
      </div>
    </header>

    <mat-card class="table-card">
      <project-table></project-table>
    </mat-card>
  </div>
  <div class="card-container dois">
    <mat-card class="table-card card-transparente">
      <header>
        <h3 mat-card-title>Score geral de satisfação</h3>

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="more-button"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon color="accent">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Configurar</span>
          </button>
          <button mat-menu-item>
            <mat-icon>favorite</mat-icon>
            <span>Favoritar</span>
          </button>
          <button mat-menu-item>
            <mat-icon>add</mat-icon>
            <span>Adicionar</span>
          </button>
        </mat-menu>
      </header>

      <div mat-card-content class="chart-card">
        <project-pie-chart
          [value]="chartService.pieChartValue$ | async"
        ></project-pie-chart>

        <!-- <object data="/assets/chart-pizza.svg"></object> -->
      </div>
    </mat-card>
  </div>
</div>

<div class="flex space-betwewn">
  <h3><b>Servidores</b></h3>

  <div class="flex space-betwewn">
    <h4>Todos</h4>
    <mat-icon color="black">expand_more</mat-icon>
    <mat-icon color="accent">search</mat-icon>
    <h4>Buscar</h4>
  </div>
</div>

<mat-card>
  <project-employee-table></project-employee-table>
</mat-card>

<div class="grid two-column">
  <div class="card-container tres">
    <mat-card class="card-transparente" class="height-100">
      <header>
        <div>
          <h3 mat-card-title class="cor-fonte">Satisfação por período</h3>
        </div>

        <div class="flex">
          <mat-icon color="accent">calendar_today</mat-icon>
          <h4>Ano</h4>
          <mat-icon color="black">expand_more</mat-icon>
        </div>
      </header>
      <img src="assets/satisfacao.svg" alt="teste " width="100%" />
    </mat-card>
  </div>

  <div class="flex">
    <mat-card>
      <header>
        <h3 mat-card-title class="cor-fonte">Notificações</h3>

        <mat-card-actions>
          <div class="padding">
            <button mat-button class="fundo-icone">
              <mat-icon>house</mat-icon>
            </button>
            <button mat-button class="fundo-icone">
              <mat-icon>directions_car</mat-icon>
            </button>
          </div>

          <div class="padding">
            <button mat-button class="fundo-icone">
              <mat-icon>call</mat-icon>
            </button>
            <button mat-button class="fundo-icone">
              <mat-icon>flight</mat-icon>
            </button>
          </div>
        </mat-card-actions>

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          class="more-button"
          aria-label="Example icon-button with a menu"
        >
          <mat-icon color="accent">more_vert</mat-icon>
        </button>
      </header>
    </mat-card>
  </div>
</div>
