<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <!--
    Barra de ferramentas superior
   -->
  <mat-toolbar class="app-toolbar">
    <!--
      Botão que abre e fecha a navegação lateral
     -->
    <button mat-icon-button (click)="lnav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="app-app-name">
      <!--
        Nome do app pode vir aqui
       -->
    </h1>

    <!-- <button mat-icon-button (click)="rnav.toggle()">
      <mat-icon>menu</mat-icon>
    </button> -->
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <!--
    Navegação lateral
   -->
    <mat-sidenav #lnav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      class="app-sidenav" fixedTopGap="56" opened>

      <mat-nav-list class="app-nav-list ">
       
        <h3 mat-subheader>DASHBOARD</h3>

  
        <a mat-list-item class="sidenav-list-item" *ngFor="let nav of navigation" [routerLink]="nav.route"
          [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
        
          <mat-icon matListIcon color="accent">{{ nav.icon }}</mat-icon>
        
          <span [matBadge]="nav.badge" [matBadgeHidden]="!nav.badge" matBadgeColor="accent">
            {{ nav.label }}
          </span>
        </a>




      </mat-nav-list>
      <img src="/assets/logo.svg" alt="logo">

    </mat-sidenav>
  
    <main mat-sidenav-content>
    
      <router-outlet></router-outlet>
    </main>


    <mat-sidenav #rnav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      position="end" class="app-sidenav" fixedTopGap="56" opened>
      <mat-nav-list class="app-nav-list ">
     


        <div class="container-perfil">
          
          <div class="container__column">
          
            <div class="flex icone-perfil">
              <mat-icon color="accent">person</mat-icon>
              <mat-icon color="accent">notifications_active</mat-icon>
              <mat-icon color="accent">chat</mat-icon>
              <mat-icon color="accent">mode_standby</mat-icon>
            </div>

            <div class="imagem-perfil">
              <img src="/assets/antonio-perfil.png" alt="">
            </div>

            <mat-card-subtitle style="color: #FE6A01;"> <b>Antonio Arantes</b></mat-card-subtitle>
            <mat-card-subtitle style="text-align: center;"> Secretaria de <br> mobilidade urbana</mat-card-subtitle>

            <div class="funcao-perfil">
              <mat-icon color="accent">more_vert</mat-icon>
              <p>Funcão: Acessor Técnico
              <br>Matrícula: 6789217
              <br> Data de contratação: 28/06/1978
              <br>Telefone: (44) 99974 8476</p>
            </div>

              <!-- <div >
                <h4>Todos<mat-icon color="black">keyboard_arrow_right</mat-icon></h4>
                
              </div> -->

            <div class="container-comentario">
           
              <div class="container__feature">
                <mat-card-title> Leonardo</mat-card-title>
                <mat-card-subtitle> 20 junho de 2022</mat-card-subtitle>
              </div>
              <div class="container__image">
                <img src="/assets/leonardo.png" alt="">
                <p>
                  Tirou todas as minhas dúvidas e o atendimento foi rápido.
                </p>
              </div>

            </div>