.full-width-table {
  width: 100%;
}

.table-avatar {
  display: flex;
  
  img{
    display: flex;
    margin: 2px;
  }
}

.score-tabela {
  font-size: larger;
  font-weight: 600;
  color: #2B1717;
}

.nome-tabela {
  font-size: larger;
  font-weight: 400;
  color: #171F2B;
}